/* variables */
:root{
    --background: #212529;
    --foreground: lightgrey;
    --main_text: black;
    --title_text: purple;
    --slected_text: blue;
    --footer_text: grey;
}


.navbar-site{
    margin-top: 0;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--background);
}

.breadcrumb{
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb-item a{
    padding-left: 40px;
    color: var(--main_text);
}

.navbar-title{
    margin-top: 0;
    padding-right: 20px;
    padding-left: 30px;
}

.dropdown-menu{
    color:var(--footer_text);
    height:200px;
    overflow-y:auto;
}

.event-creation-page{
    padding-left: 30px;
    padding-right: 30px;
}

.event-creation-layout{
    outline: 3px solid var(--foreground);
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
}

.form-label{
    font-size:x-large;
}

.page-title{
    color:var(--main_text);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.create-description-box{
    height: 100px; 
}

.event-time{
    width: 150px;
}

.create-select-menu{
    width: 135px;
}

.submit-button{
    background-color: var(--background);
    max-width: 100px;
}

.submit-button-div{
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
}

.booking-history-page{
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.booking-history-card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 650px;
}

.booking-history-price{
    text-align: left;
}

.event-details-page{
    padding-bottom: 50px;
    justify-content: center;
}

.event-details-container-inner{
    padding-bottom: 100px;
    padding-right: 100px;
}

.event-details-container-outer{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 1200px;
    outline: 2px solid var(--foreground);
    padding: 50px;
}

.event-details-title-header{
    padding-top: 50px;
}

.event-details-price-header{
    padding-top: 30px;
}

.event-details-description-header{
    padding-top: 50px;
}

.event-details-date-header{
    padding-top: 50px;
}

.event-details-location-header{
    padding-top: 30px;
}

.index-page{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
}

.index-search-bar{
    max-width: 850px;
}

.index-content-navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}

.index-navbar-content{
    padding-top: 10px;
    padding-right: 20px;
    max-width: 125px;
}

.index-event-card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 850px;
}

.card-title{
    color: var(--main_text);
}

.card-text{
    color: var(--main_text);
}

.footer-style{
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
    color: var(--footer_text);
    text-align: center;
}

.footer-elements{
    color: var(--footer_text);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.space{
    padding-top: 50px;
}